@model Models.EF.Customer

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="container" style="background-color:#F9ECEC; margin-top: 50px; border-radius: 5%">
    <div class="row profile" style="padding-top: 5px; border-right-style: initial">
        <div class="col-md-4" style=" border-right: solid;">
            <div class="profile-sidebar" style="background-color: #F9ECEC;" border-radius: 35%">
                <!-- SIDEBAR USERPIC -->
                <div class="img-circle text-center mb-3">
                    <img src="/Assets/Client/img/logo4.png" alt="" class="shadow">
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="user-page-brief__center" style="padding-top: 20px;">
                    <div class="user-page-brief__username"><center>@Model.Username</center> </div>
                    <div style="padding-top: 20px;"><center><a class="user-page-brief__edit" href="/Profile/Edit" style="color: black"><svg width="12" height="12" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg" style="margin-right: 4px;"><path d="M8.54 0L6.987 1.56l3.46 3.48L12 3.48M0 8.52l.073 3.428L3.46 12l6.21-6.18-3.46-3.48" fill="#00000" fill-rule="evenodd"></path></svg>Edit Profile</a></center></div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR BUTTONS -->
                <!-- END SIDEBAR BUTTONS -->
                <!-- SIDEBAR MENU -->
                <nav class="navigation" style="padding-top: 20px; ">
                    <ul class="mainmenu" style="text-align:center; font-size: 15x;">
                        <li>
                            <a href="/profile">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
                                    <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" />
                                </svg> Account
                            </a>

                        </li>
                        <li>
                            <a href="/Profile/OrderView">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-receipt" viewBox="0 0 16 16">
                                    <path d="M1.92.506a.5.5 0 0 1 .434.14L3 1.293l.646-.647a.5.5 0 0 1 .708 0L5 1.293l.646-.647a.5.5 0 0 1 .708 0L7 1.293l.646-.647a.5.5 0 0 1 .708 0L9 1.293l.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .801.13l.5 1A.5.5 0 0 1 15 2v12a.5.5 0 0 1-.053.224l-.5 1a.5.5 0 0 1-.8.13L13 14.707l-.646.647a.5.5 0 0 1-.708 0L11 14.707l-.646.647a.5.5 0 0 1-.708 0L9 14.707l-.646.647a.5.5 0 0 1-.708 0L7 14.707l-.646.647a.5.5 0 0 1-.708 0L5 14.707l-.646.647a.5.5 0 0 1-.708 0L3 14.707l-.646.647a.5.5 0 0 1-.801-.13l-.5-1A.5.5 0 0 1 1 14V2a.5.5 0 0 1 .053-.224l.5-1a.5.5 0 0 1 .367-.27zm.217 1.338L2 2.118v11.764l.137.274.51-.51a.5.5 0 0 1 .707 0l.646.647.646-.646a.5.5 0 0 1 .708 0l.646.646.646-.646a.5.5 0 0 1 .708 0l.646.646.646-.646a.5.5 0 0 1 .708 0l.646.646.646-.646a.5.5 0 0 1 .708 0l.646.646.646-.646a.5.5 0 0 1 .708 0l.509.509.137-.274V2.118l-.137-.274-.51.51a.5.5 0 0 1-.707 0L12 1.707l-.646.647a.5.5 0 0 1-.708 0L10 1.707l-.646.647a.5.5 0 0 1-.708 0L8 1.707l-.646.647a.5.5 0 0 1-.708 0L6 1.707l-.646.647a.5.5 0 0 1-.708 0L4 1.707l-.646.647a.5.5 0 0 1-.708 0l-.509-.51z" />
                                    <path d="M3 4.5a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm8-6a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5z" />
                                </svg>  Reciept
                            </a>
                        </li>
                        
                    </ul>
                </nav>
                <!-- END MENU -->
            </div>
        </div>

        <div class="border-right" >
            <div class="p-3 py-5" style="padding-right: 20px;">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-left" style="font-weight: bold;">Profile</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels" style="font-size:15px">Username</label><input type="text" class="form-control" value="@Model.Username" readonly="readonly"></div>

                    <div class="col-md-6"><label class="labels" style="font-size:15px">Customer name</label><input type="text" class="form-control" value="@Model.CustomerName" readonly="readonly"></div>
                    <div class="col-md-6">
                        <label class="labels"  style="font-size:15px">Address</label><input type="text" class="form-control" placeholder="3891 Ranchview Dr. Richardson, California 62639" value="@Model.Address" readonly="readonly">
                    </div>

                    <div class="col-md-6">
                        <label class="labels"  style="font-size:15px">Email</label><input type="text" class="form-control" value="@Model.EmailContactPerson" readonly="readonly">
                    </div>

                </div>
                
            </div>
        </div>
    </div>
</div>