
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
<div class="table-agile-info">
    <div class="panel panel-default">
        <div class="panel-heading">
            Danh sách các Order
        </div>
        <div class="row w3-res-tb">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#firstTab">All</a></li>
                <li><a data-toggle="tab" href="#secondTab">Pending</a></li>
                <li><a data-toggle="tab" href="#thirdTab">Approval</a></li>

            </ul>
            <div class="tab-content">
                <div id="firstTab" class="tab-pane fade in active">@Html.Action("ViewAll")</div>
                <div id="secondTab" class="tab-pane fade in">@Html.Action("ViewPending")</div>
                <div id="thirdTab" class="tab-pane fade in">@Html.Action("ViewApproval")</div>

            </div>
        </div>

        @*<div class="table-responsive">
                <table class="table table-striped b-t b-light">
                    <thead>
                        <tr>
                            <th style="text-align: center; color: black">
                                Ngày tạo đơn
                            </th>
                            <th style="text-align: center; color: black">
                                Username
                            </th>
                            <th style="text-align: center; color: black">
                                Amount
                            </th>
                            <th style="text-align: center; color: black">
                                Status
                            </th>
                            <th style="text-align: center; color: black">Action Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td style="text-align: center; color: black">
                                    @Html.DisplayFor(modelItem => item.CreatedDate)
                                </td>
                                <td style="text-align: center; color: black">
                                    @Html.DisplayFor(modelItem => item.Customer.Username)
                                </td>
                                <td style="text-align: center; color: black">
                                    @Html.DisplayFor(modelItem => item.Amount)
                                </td>
                                <td style="text-align: center; color: black">
                                    @Html.DisplayFor(modelItem => item.StatusCategoryID)
                                </td>
                                <td style="text-align: center; color: black">
                                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.ID })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <footer class="panel-footer">
                <div class="row">


                    <div class="col-sm-12 text-right  ">
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))


                    </div>
                </div>
            </footer>*@
    </div>
</div>
<script>
    function activatejQueryTable() {
        $("#orderTable").DataTable();
    }

    $(function () {
        activatejQueryTable();
    });

</script>