@model PagedList.IPagedList<Models.EF.Customer>
@using PagedList.Mvc;


@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
@section jsFooter{

    <script src="~/Assets/Admin/js/Controller/customerController.js"></script>
}
<div class="table-agile-info">
    <div class="panel panel-default">
        <div class="panel-heading">
            List of customer account
        </div>
        <div class="row w3-res-tb">
            <div class="col-sm-5 m-b-xs">
            </div>
            <div class="col-sm-4">
            </div>
            <div class="col-sm-3">

            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped b-t b-light">
                <thead>
                    <tr>
                        <th style="text-align: center; color: black">
                            Created Date
                        </th>
                        <th style="text-align: center; color: black">
                            Customer Name
                        </th>
                        <th style="text-align: center; color: black">
                           Email
                        </th>
                        <th style="text-align: center; color: black">
                           Phone Number
                        </th>
                        <th style="text-align: center; color: black">
                            Status
                        </th>
                        <th style="text-align: center; color: black">Action Name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="text-align: center; color: black">
                                @Html.DisplayFor(modelItem => item.CreatedDate)
                            </td>
                            <td style="text-align: center; color: black">
                                @Html.DisplayFor(modelItem => item.CustomerName)
                            </td>
                            <td style="text-align: center; color: black">
                                @Html.DisplayFor(modelItem => item.EmailContactPerson)
                            </td>
                            <td style="text-align: center; color: black">
                                @Html.DisplayFor(modelItem => item.MobileContactPerson)
                            </td>
                            <td style="text-align: center">
                                <a href="#" class="btn-active" data-id="@item.ID">@Html.Raw(item.Status ? "<strong>Active</strong>" : "Block")</a>
                            </td>
                            <td style="text-align: center">
                                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.ID })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <footer class="panel-footer">
            <div class="row">


                <div class="col-sm-12 text-right  ">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

                </div>
            </div>
        </footer>
    </div>
</div>

